extends ../layout

block content
    div.container 
        h1 Update a Book 

    if (errors)
        h2.error Oh dear, looks like we are missing some information!
        ul.error
            each error in errors
                p
                    =error.message
    div.container
        form(method="POST" action=`/books/${book.id}/update`)
            div.form-group 
                label(for="title") Title:
                input#title.form-control(type='text', value=book.title name='title')
            div.form-group
                label(for="author") Author:
                input#author.form-control(type='text', value=book.author name='author')
            div.form-group
                label(for="genre") Genre:
                input#genre.form-control(type='text', value=book.genre name='genre')
            div.form-group
                label(for="year") Year:
                input#year.form-control(type='text', value=book.year name='year')
            button.button(type='submit' value="update") Update
            a.button(href="/") Cancel
            
        form(method="POST" action=`/books/${book.id}/delete`)
            button.button(type='submit' value="delete") Delete
